@import "nib"

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  height: 100%

body
  height: 100%
  font: 62.5%/1.5 georgia, times
  text-align: center
  background: #1c1e20
  color: white
  overflow: hidden
